// Imports
@import "./src/scss/font";
@import "./src/scss/colors";
@import "./src/scss/mixins";
@import "./src/scss/keyframes";

//Styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.background {
  background-color: $color-off-white;
  padding: 88px 164px;
}

.header {
  width: 100%;
  margin-bottom: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 2rem;
}

.navbar {
  display: flex;

  &__ul {
    list-style: none;

    display: flex;

    &__li {
      margin-right: 2.5rem;

      &__a {
        color: $color-vd-grayish-blue;

        &:hover {
          color: $color-soft-orange;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 127px;
  gap: 4rem 2rem;

  @include main-box;
  @include lateral-box;
  @include small-box;
}

.App {
  position: relative;
}

.background-navbar-mobile {
  position: absolute;
  min-height: 100%;
  background-color: rgba($color-vd-grayish-blue, 50%);
  width: 100%;
}

.navbar-mobile {
  position: fixed;
  width: 70%;
  background-color: $color-off-white;
  right: 0;
  height: 100%;

  animation: appear 250ms ease-in;

  &__close-menu-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &__ul {
    position: absolute;
    left: 1.5rem;
    top: 7.5rem;

    &__li {
      list-style: none;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }
  }

  &--is-closing {
    animation: disappear 250ms ease-out;
  }
}

@media (max-width: 1050px) {
  .background {
    padding: 22px 41px;
  }
}

@media (max-width: 430px) {
  .background {
    margin: 0;
    padding: 2rem 1rem;
  }

  .header {
    margin-bottom: 2rem;
  }

  .logo {
    margin-right: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    grid-template-rows: none;
    gap: 0;

    &__main-box {
      display: block;
      margin-bottom: 4rem;

      &__text {
        display: block;

        &__description-box {
          grid-template-rows: none;

          &__description {
            margin-bottom: 1.5rem;
          }

          &__button {
            background-color: $color-soft-red;
          }
        }

        &__title {
          font-size: 2.5rem;
          margin-bottom: 1.5rem;
        }
      }

      &__image {
        margin-bottom: 1.5rem;
      }
    }

    &__lateral-box {
      min-height: 500px;
      margin-bottom: 4rem;
    }

    &__small-box {
      margin-bottom: 2rem;
    }
  }
}
